/*!
 * This is the style for page index.jsp.
 */
#header {
	background-image: url(../img/blue-background.jpg);
	background-repeat: repeat-x;
}

.photo-album {
	margin-top: 10px;
	margin-left: 15px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.2);
	border-width: thin;
}

.img-header {
	margin-top: 20px;
	width: 100px;
	height: 100px;
}

#user-header {
	height: 120px;
}

.photo-album-hover {
	margin-top: 10px;
	margin-left: 15px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.2);
	border-width: thin;
	box-shadow: 0 4px 4px #e5e5e5;
	opacity: 0.8;
	color: #008fd9;
	cursor: pointer;
}

#user-name {
	padding-top: 50px;
	margin-left: 1px;
}

.header-name {
	height: 30px;
	display: block;
	margin-top: -30px;
	margin-left: 100px;
	overflow: hidden;
	text-shadow: 1px 1px 1px #000;
	color: #fff;
	font-size: 1.3em;
}

.menu-up-background {
	height: 30px;
	margin-top: 0;
	background: rgba(0, 0, 0, 0.2);
}

.menu-up {
	height: 30px;
	margin-top: -30px;
}

.menu-item {
	color: #fff;
	text-align: center;
	text-shadow: 1px 1px 1px #000;
	height: 30px;
	margin-left: 1px;
	line-height: 24px;
	vertical-align: middle;
	font-size: 1em;
	cursor: pointer;
}

.menu-item-selected {
	color: #008fd9;
	text-align: center;
	text-shadow: 1px 1px 1px #000;
	height: 30px;
	margin-left: 1px;
	font-size: 1.1em;
	line-height: 24px;
	vertical-align: middle;
	background: rgba(0, 0, 0, 0.4);
	cursor: pointer;
}

.img-custom {
	border-width: 0;
	box-shadow: 0 0 0;
	padding: 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.about {
	text-align: center;
	margin-top: 30px;
	background-image: url(../img/blue-footer-background.jpg);
	background-repeat: repeat-x;
}

.about-content {
	color: #bebebe;
	font-size: 0.8em;
	margin: 5px 0 5px 0;
}

.load-more-album {
	margin: 10px 0 0 0;
	text-align: center;
}

.load-more-album-hover {
	color: #008fd9;
	margin: 10px 0 0 0;
	text-align: center;
	cursor: pointer;
}

.search-input-box {
	font-size: 0.8em !important;
}

/*Get rid of padding value of the hole page which is defined by .container-fluid */
.container-fluid-get-ridof-padding {
	padding: 0 0 0 0 !important;
}

.album-item {
	margin-top: 10px;;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	width: 200px;
	height: 250px;
	float: left;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	   -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.album-item-hover {
    margin-top: 10px;;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 200px;
    height: 250px;
    float: left;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    opacity: 0.8;
}

.album-item-cover {
	width: 200px;
	height: 200px;
	background-color: #F2F2F5;
	background: url(../img/album-cover-default.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.album-item-name {
	margin: 0 0;
	padding-left: 5px;
	padding-top: 5px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1em;
    display: block;
}

.album-item-date {
	margin: 0 0;
	font-color: #666;
	font-size: 0.7em;
    padding-left: 5px;
    color: #bebebe;
}

.new-album-btn {
	margin: 10px 10px;
}

.album-item-photo-count {
	background-image: url(../img/album-total-background.png);
	margin: -90px 0 0 130px;
	color: white;
	font-family: 宋体;
	line-height: 26px;
	text-align: center;
	height: 26px;
}

.album-item-photo-count-hover {
    background-image: url(../img/album-total-background.png);
    margin: -90px 0 0 130px;
    color: #008fd9;
    font-family: 宋体;
    line-height: 26px;
    text-align: center;
    height: 26px;
}